/* Global Styles */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

:root {
    --sidebar-width: 280px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Fix para garantir que o componente customizado do sidebar seja respeitado pelo layout flex */
app-sidebar {
    width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    display: block;
}
